a[onclick="codiad.CodeSpell.check(true);"] {
    float: left;
}

.codespell thead {
    background: #3b3b3b none repeat scroll 0 0;
    font-weight: bold;
    padding-top: 8px;
    text-align: left;
}

.codespell td:nth-child(1), .codespell td:nth-child(2), .codespell .icon-plus, .codespell td[data-word] span {
    cursor: pointer;
}

.codespell-confirm .bold {
    font-size: 14px;
}